header {
  background-color: #18191f;
  text-align: center;
  padding: 8px;
}

header h1 {
  margin: 0;
  font-size: 30px;
}

.resort-container {
  display: flex;
  padding: 20px;
}

.card {
  width: 100px;
  margin-right: 18px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 8px;
}

.card img {
  width: 100px;
  height: 165px;
  border-radius: 8px;
}

.card-info {
  width: 100px;
  padding: 5px;
}

.card h2 {
  color: black;
  font-size: 12px;
  margin: 5px 0 0 0;
}

.location {
  color: gray;
  font-size: 12px;
  font-style: italic;
  margin: 0;
}

.green {
  color: green;
  font-size: 12px;
  margin: 6px 0;
}

.red {
  color: red;
  font-size: 12px;
  margin: 6px 0;
}

.card h3 {
  color: gray;
  font-size: 12px;
  font-weight: normal;
  margin: 7px 0 0 0;
}

.card h3 span {
  color: gray;
}
